<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IPLTABLE</title>
</head>
<body>

<div class="ok">
<h1>Ipl 2024 Schedule</h1>
<h3>Welcome to IPL {{year}}</h3>
<h3>2024 IPL hosted by {{name}}</h3>
<h3>2024 IPL hosted in {{country}}</h3>
<h3>2024 IPL started in {{location}}</h3>
<h3>Today's date {{date}}</h3>
</div>
<table>
    <tr>
        <th>Rank</th>
        <th>Team</th>
        <th>Matches</th>
        <th>won</th>
        <th>Loss</th>
        <th>NRR</th>
        <th>Points</th>
    </tr>
</table>
<table>
    <tr>
        <td>1</td>
        <td>GT</td>
        <td>14</td>
        <td>10</td>
        <td>4</td>
        <td>+o.809</td>
        <td>20</td>
    </tr>
</table>
<table>
    <tr>
        <td>2</td>
        <td>CSK</td>
        <td>14</td>
        <td>8</td>
        <td>5</td>
        <td>+o.659</td>
        <td>17</td>
    </tr>
</table>
<table>
    <tr>
        <td>3</td>
        <td>LSG</td>
        <td>14</td>
        <td>8</td>
        <td>5</td>
        <td>+o.284</td>
        <td>17</td>
    </tr>
</table>
</body>
</html>