<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<body>
<h1>Welcome to HOMEPAGE</h1>
<a href="register">Click her to register</a>
<br><br>
<a href="login">click here to login</a>
<br><br>
<a href="/second/iptables/">click here to see IPL points Table</a>
<br><br>
<a href="/second/products/">Click here For Products</a>
<br><br>
<a href="/forms/register/">Click here </a>
<br><br>
<a href="/forms/set/">Click here ht </a>
<br><br>
<a href="/curd/emp/">click here to view emloyee</a>
</body>
</html>